{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% for book in app.user.bookings %}
         <p>Reservation numéro: {{ book.id }}</p>
        <p>Nombres de personnes: {{ book.customers }}</p>
        <p>Nombres de nuit: {{ book.numberOfNights }}</p>
        <p>Prix par nuit: {{ book.dorm.pricePerNight }}€</p>
        <p>Numéro de chambre: {{ book.dorm.number }}</p>

    {% endfor %}
{% endblock %}
