{% extends 'base.html.twig' %}

{% block title %}District index{% endblock %}

{% block body %}
    <h1>District index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for district in districts %}
            <tr>
                <td>{{ district.id }}</td>
                <td>{{ district.name }}</td>
                <td>
                    <a href="{{ path('app_district_show', {'id': district.id}) }}">show</a>
                    <a href="{{ path('app_district_edit', {'id': district.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_district_new') }}">Create new</a>
{% endblock %}
