{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block body %}

    {{ form_start(hostelForm) }}
    {{ form_row(hostelForm.name) }}
    {{ form_row(hostelForm.streetNumber) }}
    {{ form_row(hostelForm.street) }}
    {{ form_row(hostelForm.zipCode) }}
    {{ form_row(hostelForm.city) }}
    {{ form_row(hostelForm.district) }}
    {{ form_row(hostelForm.email) }}
    {{ form_row(hostelForm.type) }}


    <button class="btn btn-success" type="submit">Créer</button>
    {{ form_end(hostelForm) }}

{% endblock %}
