{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block body %}

    {{ form_start(publicHouseForm) }}
    {{ form_row(publicHouseForm.name) }}
    {{ form_row(publicHouseForm.streetNumber) }}
    {{ form_row(publicHouseForm.street) }}
    {{ form_row(publicHouseForm.zipCode) }}
    {{ form_row(publicHouseForm.city) }}
    {{ form_row(publicHouseForm.district) }}
    {{ form_row(publicHouseForm.email) }}
    {{ form_row(publicHouseForm.type) }}


    <button class="btn btn-success" type="submit">Créer</button>
    {{ form_end(publicHouseForm) }}

{% endblock %}
