{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="d-flex flex-row">
    {% if hostels is not null %}
            {% for hostel in hostels %}
                <div class="hostel border border-2 border-info-subtle">
                    <a class="lien" href="{{ path('app_publichouse_show',{id:hostel.id}) }}">
                    <div class="top">
                        {{ hostel.name }} <br>
                        {{ hostel.city }} <br>
                        {{ hostel.district.name }} <br>
                        {{ hostel.streetNumber}} {{ hostel.street  }} <br>
                        {{ hostel.zipCode }} <br>
                        {{ hostel.city }} <br>
                    </div>
                    </a>
                    <div class="bottom">
                        {% if app.user %}
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">Supprimer</button>
                                <a href="#" class="bouton btn btn-warning">Edit</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalDeleteLabel">Supprimer?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment supprimer cette auberge?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_publichouse_remove',{id:hostel.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <h1>Rien à voir ici pour l'instant</h1>
    {% endif %}
</div>

{% endblock %}

