{% extends 'base.html.twig' %}

{% block title %}Toutes nos auberges{% endblock %}

{% block body %}

    {% if hostels is null %}
    <h1>Rien à voir ici pour l'instant</h1>
    {% else %}
    {% for house in hostels %}
        {{ house.name }}
        {{ house.city }}
        {{ house.district.name }}
        {{ house.streetNumber}} {{ house.street  }}
        {{ house.zipCode }}
        {{ house.city }}
    {% endfor %}

    {% endif %}

{% endblock %}
